
.containerCard{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s ease;
}
.containerCard:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 610px) { 
.containerCard{
    height: 214.55px;
    width: 151px;
}



}
