.carrosel {
  height: 768px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../../public/FundoMovies.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  .img {
    width: 100%;
    background: linear-gradient(45.21deg, #000000 21%, rgba(0, 0, 0, 0) 120.67%);
    height: 100%;
    display: flex;
  }

  .cardImg {
    padding: 10rem 0rem 6rem 2.5rem;
    width: 50%;
    position: absolute;

  }

  .cardDescription {
    font-family: "Nunito Sans", sans-serif;
    width: 500px;
    font-weight: 400;
    font-size: 17px;
    position: relative;
    line-height: 201%;
    letter-spacing: 0.30px;
    color: rgba(255, 255, 255, 0.7);



  }

  img {
    width: 213px;
    height: 85px;
    object-fit: cover;

  }
}

.main {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  justify-content: center;
  top: -13rem;
  position: relative;

  .title {
    margin-left: 39px;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 133.4%;


  }

}
.moviesSelected{
  width: 100%;
  .imgBanner{
    width: 100%;
    height: 618px;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
  }
  .imgLogo{
    position: absolute;
    top: 25rem;
    left: 6px;
  }

}
.movieSinopse{
    height: 220px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2,1fr);
    padding: 40px 60px 40px 60px;
    .duration{
      display: grid;
      grid-template-columns: 97px 4rem;
      grid-template-rows: repeat(2, 24px);
      justify-items: start;
      font-size: 24px;
      line-height: 175%;
      .durationTitle{
        color:#999999;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.15px;
      }
      .classification{
        display: grid;
        grid-area: 1 / 2 / 3 / 3;
        place-items: center;
      }
    }
    
    .description{
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0.15px;
      grid-area: 2 / 1 / 3 / 3; 
    }
  
  
}
.backButtonClass {
  background-image: url("../../public/iconBtnBack.png");
  background-position: center;
  object-fit: contain;
  width: 42px;
  height: 42px;
  border-radius: 4rem;
  border: none;
  position: absolute;
  margin: 32px 0px 0px 32px;
  z-index: 100;
  cursor: pointer;
  transition: all 0.3s ease;
}
.backButtonClass:hover {
  transform: scale(1.2);
}