.containerFooter{
    display: flex;
    min-height: 3.25rem;
    max-height: 10rem;
    border-top: solid 1px #292929;
    padding: 16px 60px 16px 60px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 166%;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    
}   .container{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

    .containerFooterAncora{
        color: white;
        font-weight: 700;
        font-size: 12px;
        gap:16px ;
    }

    @media only screen and (max-width: 680px) {
    .containerFooter, .container{
        justify-content:center;
        gap: 10px;
        
    }
}